.left-bgc,
main-bgc {
  height: 95vh;
}

.left-bgc {
  background-color: rgb(176, 209, 209);
}

.main-bgc {
  background-color: rgb(187, 190, 190);
}

.footer{
  background-color: rgb(224, 228, 228);
}